@import url("./__header/page__header.css");
@import url("./__footer/page__footer.css");

.page{
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    background-color:#2A2C2F;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}
@media screen and (max-width: 1439px) {
    .page {
        max-width: 1280px;
        margin: auto;
    }
}

@media screen and (max-width: 1279px) {
    .page {
        max-width: 1024px;
    }
} 

@media screen and (max-width: 1023px) {
    .page {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .page {
        max-width: 550px;
    }
}
@media screen and (max-width: 549px) {
    .page {
        max-width: 375px;
    }
}
@media screen and (max-width: 374px) {
    .page {
        max-width: 320px;
    }
}