.content__cover{
    margin: 102px 128px 0;
}
@media screen and (max-width: 1439px) {
	.content__cover{
        margin: 102px 48px 0;
    }
}
@media screen and (max-width: 1023px) {
	.content__cover{
        margin: 102px 0 0;
    }
}
@media screen and (max-width: 767px) {
	.content__cover{
        margin: 48px 0 0;
    }
}
@media screen and (max-width: 374px) {
	.content__cover{
        margin: 64px 0 0;
    }
}