@import url('./__title/video__title.css');
@import url('./__subtitle/video__subtitle.css');
@import url('./__container/video__container.css');

.video{
    max-width: 1184px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1279px) {
	.video {
        max-width: 928px;
    }
}
@media screen and (max-width: 1023px) {
	.video {
        max-width: 720px;
    }
}
@media screen and (max-width: 767px) {
	.video {
        max-width: 520px;
    }
}
@media screen and (max-width: 549px) {
	.video {
        max-width: 343px;
    }
}
@media screen and (max-width: 374px) {
	.video {
        max-width: 288px;
    }
}