.comment__author{
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
@media screen and (max-width: 1023px) {
	.comment__author {
        margin-bottom: 24px;
        order: 1;
    }
}