@import url('./__link/footer__link.css');

.footer__li{
    margin-right: 18px;
}
.footer__li:last-of-type{
    margin-right: 0;
}
@media screen and (max-width: 549px) {
	.footer__li {
        margin-right: 0;
        margin-bottom: 32px;
    }
}