.content__comments{
    margin: 102px 128px 0;
}
@media screen and (max-width: 1439px) {
	.content__comments{
        margin: 102px 48px 0;
    }
}
@media screen and (max-width: 1023px) {
	.content__comments{
        margin: 102px 54px 0;
    }
}
@media screen and (max-width: 767px) {
	.content__comments{
        margin: 64px 16px 0;
    }
}