@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');

.lead__container{
    max-width: 984px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 78px auto 0;
}
@media screen and (max-width: 1279px) {
	.lead__container {
        max-width: 928px;
    }
}
@media screen and (max-width: 1023px) {
	.lead__container {
        max-width: 100%;
    }
}
@media screen and (max-width: 767px) {
	.lead__container {
        margin: 31px auto 0;
    }
}