.item__play-title{
    max-width: 322px;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    color: #FFFFFF;
    margin: 0 auto 18px 30px;
}
@media screen and (max-width: 1023px)  {
	.item__play-title {
        max-width: 288px;
        font-size: 24px;
        line-height: 26px;
        margin: 0 auto 12px 24px;
    }
}
@media screen and (max-width: 767px)  {
	.item__play-title {
        max-width: 295px;
        margin: 0 auto 3px 24px;
    }
}
@media screen and (max-width: 374px)  {
	.item__play-title {
        max-width: 256px;
        margin: 0 auto 3px 16px;
    }
}